KAFKA_BROKERS=localhost:9092
PORT=3000
BACKEND_API_GRPC_ADDRESS=localhost:9090
BACKEND_API_SECRET=myinternalsecret
GRPC_PORT=9091
FORWARD_DEBOUNCE_MS=2000
JWT_SECRET=mysecret
REDIS_ADDRESS=redis://localhost:6379